@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Common */
@import './common/common.scss';
@import './common/media-queries.scss';

/* Component */
@import './component/navigation.scss';
@import './component/footer.scss';

/* Pages */
@import './pages/home.scss';
@import './pages/our_class.scss';
@import './pages/gallery.scss';
@import './pages/our_coach.scss';

.bangkok_aquatic_wrapper {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #3E3E3E;

    .aquatic_content {
        margin-top: 80px;
    }

    @include mobile-lg {
        .aquatic_content {
            margin-top: 80px;
        }
    }
    @include mobile-xs {
        .aquatic_content {
            margin-top: 80px;
        }
    }

    .text-vw-port {
        display: none;
    }

    @include desktop {
        .text-vw-port {
            display: unset;
        }
    }
    @include mobile-xs {
        .text-vw-port {
            display: unset;
        }
    }

    .bold { font-weight: bold; }
    .note { font-weight: bold; }

    .f1_0 { font-size: 1em; }
    .f0_9 { font-size: 0.9em; }
    .f0_8 { font-size: 0.8em; }

    .mt10 { margin-top: 10px; }
    .mt20 { margin-top: 20px; }

    .mb10 { margin-bottom: 10px; }
    .mb20 { margin-bottom: 20px; }

}

div[class^="ant-notification"] {
    z-index: 100001;
}
