.style1 {
    background: url("../../../../../images/title1.png") no-repeat;
    background-size: contain;
    padding-right: 30px;
}

.style2 {
    background: url("../../../../../images/title2.png") no-repeat;
    background-size: contain;
    padding-right: 100px;
}

.style3 {
    background: url("../../../../../images/title3.png") no-repeat;
    background-size: contain;
    padding-right: 100px;
}

.style4 {
    background: url("../../../../../images/title4.png") no-repeat;
    background-size: contain;
    padding-right: 100px;
}
