.register {
    .title {
        font-family: 'Baloo';
        font-size: 21px;
    }
   
    .form_container {
        font-family: 'Montserrat';
        .form_item {
            margin: 0 0 10px 0 !important;
            div[class$="ant-form-item-label"] {
                line-height: 10px !important;
            }
        }

        .form_item2 {
            margin: 0 !important;
            div[class$="ant-form-item-label"] {
                line-height: 10px !important;
            }
        }

        .form_label {
            font-size: 13px;
            font-weight: 600;
            color: rgba(112, 112, 112, 1);
            div[class^="ant-form-item-label"], div[class^="ant-form-item-control-wrapper"]  {
                max-height: 27px;
            }
            
        }

        .important { 
            color: #ff2200;
            margin-left: 5px;
        }

    }

    .tc { text-align: center; }
    .tl { text-align: left; }
    .tr { text-align: right; }
}

.register_success_alert {
    width: 400px !important;
    div[class^="ant-modal-body"] {
        padding: 0px !important;
    }

    div[class^="ant-modal-confirm-title"], span[class^="ant-modal-confirm-title"] {
        background-color: #4D95E8;
        padding: 15px 0px;
        text-align: center;
        i {
            font-size: 2em;
            color: #D3E7FF;
        }
    }

    div[class^="ant-modal-confirm-btns"] {
        display: none;
    }

    .content {
        color: #121212;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: bold;
        width: 250px;
        margin: 10px auto;
    }

    .done {
        width: 100px;
        margin: 10px auto;
        background-color: #4D95E8;
        color: #FFF;
    }

}