.aquatic_wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;

    .preCurve {
        position: absolute;
        height: 170px;
        width: 640px;
        top: 329px;
        right: -45px;
        border-radius: 50%;
        background: #FFF;
        z-index: 1;
        transform: matrix(0.81, -0.59, 0.59, 0.81, 0, 0);
        transform: rotate(-21deg);
        z-index: 0;
    }

    .bgCurve {
        position: absolute;
        height: 550px;
        width: 450px;
        top: 350px;
        border-radius: 50% 0 0 50%;
        right: 0;
        background: transparent linear-gradient(0deg, #68e0cf 0%, #209cff 100%) 0% 0% no-repeat padding-box;
        z-index: -1;
    }
    
}

.present {
    padding: 50px 0;
    font-family: 'Montserrat';

    .title {
        font-family: 'Baloo';
        padding: 0 0 15px 0;
    }
    .title_name {
        font-family: 'Baloo';
    }
    .symblo {
        font-size: 8em;
        color: #9F9F9F;
        font-weight: bold;
        max-height: 40px;
        line-height: 95px;
        margin: 20px 0;
    }
    .text {
        font-family: 'Montserrat';
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
        color: #707070;
    }
    
    .text_link {
        font-size: 16px;
        color: #707070;
        letter-spacing: 0;
        font-family: 'Montserrat';
        font-weight: bold;
        a {
            color: #707070;
            text-decoration: underline;
        }
    }

    .assignment_register {
        text-decoration: underline;
        cursor: pointer;
    }

    .bold {
        font-weight: bold;
    }
    .picture {
        margin: 0 auto;
        text-align: center;
        .img {
            height: 350px;
            @extend .transition;

            @include desktop {
				height: 280px;
			}
			@include tablet {
				height: 250px;
			}
			@include mobile-xs {
				height: 250px;
			}
        }
        &.fl {
            text-align: left;
        }
        &.fr {
            text-align: right;
        }
    }

    @include tablet {
        .title_name, .symblo {
            text-align: center;
        }
    }
    @include mobile-xs {
        .title_name, .symblo {
            text-align: center;
        }
    }
    
}

.aquatic_present {
    font-family: 'Montserrat';

    .title {
        font-family: 'Baloo';
        padding: 0 0 15px 0;
    }
    
    .text {
        font-family: 'Montserrat';
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
        color: #707070;
    }

    .class_group {
        padding: 0;
        background: rgba(255, 255, 255, 1);
        box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.16);
        opacity: 1;

        .class_header {
            padding: 10px;
            opacity: 1;
            text-align: center;
            
            .class_title {
                font-weight: bold;
            }

            .class_brand {
                height: 20px;
            }

            &.h1 {
                background-color: rgba(240, 139, 100, 1);
            }
            &.h2 {
                background-color: rgba(195, 223, 253, 1);
            }
            &.h3 {
                background-color:rgba(172, 160, 182, 1);
            }
            &.h4 {
                background-color:rgba(153, 122, 183, 1);
            }
        }
        
        .class_body {
            height: 420px;
            padding: 0px 15px;
            font-weight: 600;
            font-family: 'Montserrat';
            font-size: 14px;
            @extend .transition;
  
            @include large-desktop {
                height: 520px !important;
            }
			@include tablet {
                height: 420px !important;
            }
            @include mobile-lg {
				height: fit-content !important;
			}
			@include mobile-xs {
				height: fit-content !important;
			}
            
            ul {
                padding: 10px 10px;
                li {
                    padding: 7px 0;
                } 
            }
        }
    }
}

.assignment_box {
    background: rgba(207, 71, 214, 1) 0% 0% no-repeat padding-box;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    padding: 7px;
    margin-bottom: 20px;
    .adjuct {
        text-align: center;
        margin: auto;
    }
    .text {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 2em;
        text-align: left;
        letter-spacing: 0px;
        color: #FFF;
        opacity: 1;
    }
    
    .img {
        height: 80px;
    }
    @include mobile-lg {
        .text {
            font-size: 1.8em;
            text-align: center;
        }
        .img {
            // height: 40px;
            display: none;
        }
    }
    .button {
        width: 70%;
        padding: 7px;
        margin: auto;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 10px;
        cursor: pointer;
        span {
            text-align: center;
            letter-spacing: 0px;
            color: rgba(255, 255, 255, 1);
            opacity: 1;
        }
    }
    .button:hover {
        border: 1px solid #007bff;
        span { 
            color: #007bff;
        }
    }
}

.schedule_container {
    background: rgba(240, 240, 240, 1);
    .header {
        text-align: left;
        font-family: 'Baloo';
        padding: 15px 0 0px 0;
        letter-spacing: 0px;
        color: rgba(18, 18, 18, 1);
        opacity: 1;
    }

    .select_list {
        text-align: left;
        font-family: 'Baloo';
        padding: 7px;
        margin: 0px 0 15px 0;
        letter-spacing: 0px;
        color: rgba(18, 18, 18, 1);
        opacity: 1;
    }

    .schedule_class {
        overflow: auto;
    }

}

.price_container {

    .header {
        font-family: 'Baloo';
        font-weight: bold;
        text-align: left;
        padding: 15px 0 15px 0;
        letter-spacing: 0px;
        color: #121212;
        opacity: 1
    }

    .price_wrapper {
        position: relative;
    }

    .price_box {
        padding: 5px 0;
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;

        &_header {
            height: 62.22px;
            padding: 10px;
            opacity: 1;
            text-align: center;
            
            &_title {
                font-weight: bold;
            }

            &_brand {
                height: 20px;
            }

            &.h1 {
                background-color: rgba(240, 139, 100, 1);
            }
            &.h2 {
                background-color: rgba(195, 223, 253, 1);
            }
            &.h3 {
                background-color:rgba(172, 160, 182, 1);
            }
            &.h4 {
                background-color:rgba(153, 122, 183, 1);
            }
        }
        
        &_content {
            min-height: 200px;
            height: auto;
            padding-top: 15px;
            box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
            @extend .transition;

            &.unshadow {
                box-shadow: none;
                ul {
                    margin-right: 10px;
                }
            }

            .list_label {
                font-family: 'Montserrat';
                font-weight: bolder;
                text-align: right;
                border: 0 !important;
                color: #121212;
                padding-left: 0;
                padding-right: 0;
                
            }

            .list_custom {
                border: 0 !important;
                font-size: 0.9em;
                text-align: center;
                .label {
                    font-weight: bold;
                }
                .value {
                    font-weight: bold;
                    text-align: center;
                    color: #242f40;
                }
                
                .value2 {
                    font-weight: 600;
                    color: #5b6b82;
                }
                
            }

            .list_custom:first-child {
                font-weight: bold;
                font-size: 1.2em;
            }   

            @include desktop {
                .list_custom {
                    font-weight: normal;
                    text-align: left;
                    font-size: 1em;
                    .value {
                        float: right;
                    }
                    .value2 {
                        float: right;
                    }
                }
                .list_custom:first-child {
                    font-weight: normal;
                    font-size: 1em;
                }   
            }
            @include mobile-xs {
                .list_custom {
                    font-weight: normal;
                    text-align: left;
                    font-size: 1em;
                    .value {
                        float: right;
                    }
                    .value2 {
                        float: right;
                    }
                }
                .list_custom:first-child {
                    font-weight: normal;
                    font-size: 1em;
                }  
            }

        }

    }

    @include desktop {
        .price_wrapper {
            display: none;
        }
    }
    @include mobile-xs {
        .price_wrapper {
            display: none;
        }
    }

}

.learn_more {
    padding: 20px 15px 0 0;
    text-align: right;
    display: none;
}

.contact_container {
    height: inherit;
    background: rgba(0, 77, 134, 1) 0% 0% no-repeat padding-box;

    .title {
        font-size: 16px;
        margin: 0;
        padding: 5px 0 0 0;
        text-align: center;
        color: #FFF;
    }

    .contact_channel {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);

        @include mobile {
            display: block;
        }

        .contact_item {
            color: #FFF;
            text-align: center;
            padding: 7px 0px;

            a {
                color: #FFF;
            }

            .icon {
                height: 20px;
                @include mobile-lg {
                    height: 15px;
                }
                @include mobile-xs {
                    height: 15px;
                }
            
            }

            .text {
                margin-left: 10px;
                font-size: 0.9em;
            }
        }

    }

}